.button {
	color : white;
	height : 30px;
	width : 250px;
	background : #FE3B01;
	font-size : 20px;
	border : 0px #ff0000 solid;
}

.main {
    width: 100%;
    height: 620px;
    background-image: url('login.jpeg');
    position: relative;
    font-size: 20px;
}

.login{
    background-color:white;
    width: 420px;
    height: 190px;
    margin-left: 830px;
    position: absolute;
    top: 150px;
    padding: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.tab{
    margin: 20px 40px;
}

.error {
      color: red;
      font-size : 6px;
}

